
.main-container {
    max-width: 1400px;
    height: calc(100vh - 6rem);
    margin: auto;
}

.title {
    width: 100%;

    text-align: center;
    line-height: 20vh;
    font-size: 8rem;
}

.link-container {
    width: 100%;
    color: aliceblue;
    text-align: center;
}

.link-criptomonedas {
    padding: 0.5rem;

    color: #333;
    text-decoration: none;
    font-size: 2rem;

    border-radius: 5px;
    background-color: #99f;
}

.link-criptomonedas:hover {
    background-color: #ddf;
}